/* feuille de style CSS projet1*/

h1 {
   text-align: center ;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color:chocolate;
   background-color: darkblue;
}

div {
   width: 100%;
   align-content: center;
   display: inline-block ;
   background-color:beige ;
}

p {
   text-indent: 2em ;
   font-family: monospace ;
   font-size: 1.5em;
}

 .container {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:azure;
   width: 100vw ;
   height: 25%;
}

 .box {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: blueviolet;
   width: 200px ;
   height: 200px;
}
 .box1{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: blueviolet;
   width: 33% ;
   height: 20%;
   border: 2px solid red;
   border-radius: 10px ;
 }
